{% extends 'adminone/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="pd-addon-container">
  <div class="current-product-info">
      <article>
        <h1>Must read</h1>
        <p>
          Adding sizes to product name "{{product.productname}}" is of utmost importance to improve sale.
          This gives shoppers  wide varity of sizes for them to choose for a product. 
         
        </p>
      </article>
      <div class="pd-info-addon">
        <h5>Add Available Sizes For Product Post</h5>
        <div class="pd-info-field">
        <div class="pd-lable">
          ProductName:
        </div>
        <div class="pd-value">
            {{product.productname}}
        </div>

      </div>
      <!-- endof field-->


      <div class="pd-info-field">
        <div class="pd-lable">
          Unique Id:
        </div>
        <div class="pd-value">
            {{product.uniqueid}}
        </div>

      </div>
      <!-- endof field-->

      <div class="pd-info-field">
        <div class="pd-lable">
          Available sizes [{{product.availableseizes.all.count}}]:
        </div>
        <div class="pd-value">
        {% for sizes in product.availableseizes.all %}
        
      <form id action="{% url 'pannel:removesize' slug=product.slug %}">
            <input name="id" type="hidden" value="{{sizes.id}}">   
        {{sizes.size}}
             
              <button type="submit">Remove</button>
      </form> 
{% endfor %}
</div>
      </div>
      <!-- endof field-->
      </div>
  </div>  
  <div class="add_colors add_sizes">
    <!-- product form container-->
<div class="form-container">
  <h4>Add A Size To Product<span class="alertsub" style="color:green">Submited!</span></h4>

  <form  action="{% url 'pannel:addsizes' slug=product.slug %}" method="post" enctype="multipart/form-data" >
   <div class="add_color_field_name">
  
{% csrf_token %}

<div class="add_on_section_one">
  
        
  
    <!-- form field-->
    <div class="field-container">
        <div class="lable">
         Size:
        </div>
        <div class="field">
        {{form.size}}
        </div>
        </div>
        <!-- end of form field-->    
    <!-- form field-->
    <div class="field-container">
        <div class="lable">
         Price:
        </div>
        <div class="field">
        {{form.sizeprice}}
        </div>
        </div>
        <!-- end of form field-->    
          <!-- form field-->
    <div class="field-container">
        <div class="lable-check">
            By checking the box bellow,
            product cost for this size, will 
            override original product price when this size selected by shoppers.
        </div>
        <div class="field">
        {{form.pricechange}}
        </div>
        </div>
        <!-- end of form field--> 


        <div class="field-container">
            <div class="lable-check">
                Original product price:
            </div>
            <div style="width:100%;text-align:center;font-size:22px;margin-top:20px;">
            CFA {{product.pdprice}}
            </div>
            </div>

            <div class="size_add">
 <button type="submit">Add</button>
 <span class="gif"><img src="{% static 'img/Wedges-3s-200px.png' %}"></span>  
 </div>
 </div>
<!-- end of section three-->
</form>
<!-- end of product form container-->

</div>

</div>



  
{% endblock %}