{% extends 'adminone/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="post_container ">
<div class="post_header">
  <h4>Submitted products: {{posts.count}}</h4>  
  
</div>
<table id="header-table">
 <tr>
  
   <th>ProductName</th>
  
 </tr>
</table>

<div class="table_list">
<table>

  
  {% if posts %}
 {% for post in posts %}

 <tr>
  
   <td>{{post.productname}} </td>
   <td><a title="add colors to your product" style="border:solid;padding:5px 5px 5px; border-width: 1px; text-decoration: none;background-color: white; border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;" href="{% url 'pannel:addcolors' user=request.user.slug  slug=post.slug %}">Addcolors</a></td>
   <td><a title="add sizes to your product" style="border:solid;padding:5px 5px 5px; border-width: 1px; text-decoration: none;background-color: white; border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;" href="{% url 'pannel:addsizes'  user=request.user.slug slug=post.slug %}">Addsizes</a></td>

   <td><a  title="product details" style="border:solid;padding:5px 5px 5px; border-width: 1px; text-decoration: none;background-color: white; border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;" href="{% url 'homeapp:productdetail' slug=post.slug %}">View</a></td>
  </tr>

 {% endfor %}
 {% else %}
 <p> You have not posted yet</p>
 {% endif %}

</table>
</div>
 
</div>

{% endblock %}