{% extends 'homeapp/base.html' %}
{% block content %}
{% load staticfiles %}
<!-- Login form -->
<div class="registrationform">
<div class="page-content">
    <div class="form-v4-content">
       
        <form class="form-detail" action="{% url 'homeapp:login' %}"  method="POST" enctype="multipart/form-data">

            {% csrf_token %}
 
            <h2>Access your account</h2>
           
            <!-- Email Field-->
            <div class="form-row">
                    <h4 style="color:red">{{login.email.errors}}</h4>
                <label for="your_email">Your Email</label>
                {{login.email}}
            </div>

            <!-- Password field-->
            <div class="form-row">
                <h4 style="color:red">{{login.password.errors}}</h4>
            <label for="your_email">Your Password</label>
            {{login.password}}
        </div>
            
            <br>
            <div class="form-checkbox">
              
                     
      
                </label>
            </div>
            <div class="form-row-last" >
                <input type="submit" name="login" class="login" value="login">
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}