{% extends 'homeapp/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="order-body">
    <div class="shippingaddress">
        {% if update is False %}
        <p>
            Enter your shipping address.
        </p>
        {% else %}
        <p>
            You can update your shipping address.
        </p>
        {% endif %}

    <form action="{% url 'homeapp:order' %}" method="Post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="addressfield-container">
        <div class="addlble">
            Address 1
        </div>
        <div class="addressfield">
            {{form.address1}}
    </div>
</div>
<div class="addressfield-container">
        <div class="addlble">
            Address 2
        </div>
        <div class="addressfield">
            {{form.address2}}
    </div>
</div>

<div class="addressfield-container">
        <div class="addlble">
            Town
        </div>
        <div class="addressfield">
            {{form.town}}
    </div>
</div>

<div class="addressfield-container">
        <div class="addlble">
            Region
        </div>
        <div class="addressfield">
            {{form.region}}
    </div>
</div>
        <button type="submit">Continue</button>
    </form>
    </div>
    <div class="ordersummary">
     <h4>
       Cart summary
     </h4>
     <div class="summary-container">
     {% if cart.products.count > 0 %}
     {% for product in cart.products.all %}
     <div class="summary-products">
      <img src="{{product.product.picone.url}}" alt="Africa, Shop, Business, ecommerce">
      <div class="summ-price">
        {% if product.products.sales > 0 %}
        {{product.costaftersales}} CFA
        {% else %}
        {{product.cost}} CFA
        {% endif %}

      </div>
     </div>
     {% endfor %}
     {% else %}
     <p>
       You have zero products
     </p>
     {% endif %}
    </div>
     <div class="product-total">
        Sum Total: {{cart.total}} CFA <br>
        Total Products: {{cart.pdcount}}<br><br>
        <a href="{% url 'homeapp:mycart' %}">BackToCart</a>
       </div>
    </div>
   
    
</div>
{% endblock %}
 
