
    {% extends 'homeapp/base.html' %}
    {% block content %}
    {% load staticfiles %}           

<!--
hold product info, such as images and product  detail
-->
<link href="{% static 'css/productail.css' %}" rel="stylesheet">
 

<div class="product-main-container">
<div class= "product-detail-container">
  <!--
    hold product image view
  -->
<div class="img-view-container">
  <div class="side-img">
    <div class="img-1">
    <img src="{{product.picone.url}}">
  </div>
    {% if product.pictwo  %}
    <div class="img-1">
    <img src="{{product.pictwo.url}}">
  </div>
    {% endif %}

    {% if product.picthree  %}
    <div class="img-1">
    <img src="{{product.picthree.url}}">
  </div>
    {% endif %}

    {% if product.picfour  %}
    <div class="img-1">
    <img src="{{product.picfour.url}}">
  </div>
    {% endif %}

  </div>
<div class="img-active">
  <img src="{{product.picone.url}}"></img>
</div>
</div>

<!--
  holds product info
-->
<div class="produt-info-container">
<div class="info-sub-container">
  <h3>{{product.productname}}</h3>
</div>
</div>

 </div>


 <!-- endof product info container  -->
              


          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Related Products</h3>
            <ul class="aa-product-catg aa-related-item-slider">
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>
               <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span>
                  </figcaption>
                </figure>                      
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                 <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                </figure>
                <figcaption>
                  <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                  <span class="aa-product-price">$45.50</span>
                </figcaption>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                 <span class="aa-badge aa-hot" href="#">HOT!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                      
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
              </li>    
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-hot" href="#">HOT!</span>
              </li> 
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>                                                                                   
            </ul>
            
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- call the zoom image script-->
<script scr="{% static 'js/imagezoom.js' %}"></script>
<script>
  function normalImg(img){
      img.classList.remove("activeimg");
  }
  function preview(img){
      document.getElementById(0).src=img.src;
   img.className="activeimg";
      imageZoom("0", "myresult");
      
  }
  $(document).ready(function(){
  $('.img-zoom-container').hover(function(){
   imageZoom("0", "myresult");

  },
  function(){
      $('.img-zoom-result').hide(); 
      $('.product-order').show();  
  });
  });
      // Initiate zoom effect:
      
      </script>


<script>
    function normalImg(img){
        img.classList.remove("activeimg");
    }
    function preview(img){
        document.getElementById(0).src=img.src;
     img.className="activeimg";
        imageZoom("0", "myresult");
        
    }
    $(document).ready(function(){
    $('.img-zoom-container').hover(function(){
    $('.img-zoom-result').show();
    $('.product-order').hide();
     imageZoom("0", "myresult");
  
    },
    function(){
        $('.img-zoom-result').hide(); 
        $('.product-order').show();  
    });
    });
        // Initiate zoom effect:
        
        </script>

{% endblock %}