
    {% extends 'homeapp/base.html' %}
    {% block content %}
    {% load staticfiles %}           

<div class="product-main-container">
<div class= "product-detail-container">

<div class="img-view-container  previewimg-active">
  <div class="side-img">
    <div class="img-1">
    <img src="{{product.picone.url}}"onmouseover="preview(this)" >
  </div>
    {% if product.pictwo  %}
    <div class="img-1">
    <img src="{{product.pictwo.url}}" onmouseover="preview(this)" >
  </div>
    {% endif %}

    {% if product.picthree  %}
    <div class="img-1">
    <img src="{{product.picthree.url}}" onmouseover="preview(this)" >
  </div>
    {% endif %}

    {% if product.picfour  %}
    <div class="img-1">
    <img src="{{product.picfour.url}}" onmouseover="preview(this)" >
  </div>
    {% endif %}

  </div>
<div class="img-active">
  <img id="0"src="{{product.picone.url}}" ></img>
  <div class="instruction">
    To zoom, click image spot
  </div>
</div>
</div>

<!--
  display img zoom result

-->

<div id="myresult" class="img-zoom-result"></div>

<!---// end of img zoom result display-->
<!--
  holds product info
-->
<div class="produt-info-container">
<div class="info-sub-container">
  <div class="category"><a href="">Category: {{product.category}}</a>><a href="">Sub Category: {{product.subcategory}}</a></div>
  <div class="product-name">{{product.productname}}</div></h3>
  <div class="product-price"><span class="pd-amnt">{{product.pdprice}} CFA</span>
    {% if product.sales > 0 %}
    <span class="pd-sales-off">{{product.sales}}% off</span><br>
    <span class="after-sales-price">After Sales Off:</span> <span class="sales-off-amnt">{{product.salesprice}} CFA</span>
    {% endif %}
  </div>
  <div class="assurance-pd">
    Assured <span><?xml version="1.0" encoding="iso-8859-1"?>
      <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 367.805 367.805" style="enable-background:new 0 0 367.805 367.805;" xml:space="preserve">
      <g>
        <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902
          S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/>
        <polygon style="fill:#D4E1F4;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 
          256.001,103.968 	"/>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      </svg>
      </span>
  </div>
  <div class="add-quantity">
    <span>Quantity:</span>
    <form id="add-product-cart" action="{% url 'homeapp:addtocart' slug=product.slug %}" method="get" enctype="multipart/form-data">
      {% csrf_token %}
      <input name="qt" type="number" value="1">

      <!-- extra fields-->
      {% if product.pdcolor.count > 0 %}
    <div class="pd_fm_fields">
      Colors
    </div>

    <div class="pd_fm_cl_f_">
      <input class="radiosize" style="display: none" value="0" type="radio" name="colors" checked="checked">
      {% for color in product.pdcolor.all %}
      <div class="selec-color">
        <input class="color-select"  type="radio" name="colors" value="{{color.id}}" >
        <a href="{% url 'pannel:colorclicked' slug=color.slug colorname=color.color idn=color.id %}">
      <div class="color-img-op" style="border:solid;border-color:{{color.color}};border-width:1px"><img src="{{color.picone.url}}"></div>
      </a>
      </div>
      {% endfor %}
      
    </div>
    {% else %}
    <input class="color-select" style="display: none" value="0" type="radio" name="colors" checked="checked">
    {% endif %}
    <!-- end of  extral fields-->

      <!-- extra fields-->
      {% if product.availableseizes.count > 0 %}
    <div class="pd_fm_fields">
      Sizes
    </div>

    <div class="pd_fm_cl_f_">
      {% for sizes in product.availableseizes.all %}
      <div class="select-size">
        {% if sizes.pricechange %}
        <div class="price_display">
         Price: {{sizes.sizeprice}} CFA  
         {% if product.sales > 0 %}
         <span style="color:green;font-size: 12px;position: relative;margin-left:10px;background-color: white;padding:3px 3px 3px;top:-0.5px;">{{product.sales}}% off</span>
         {% endif %}
        </div>
        {% endif %}
        <input class="radiosize_d" type="radio" name="sizes"value="{{sizes.id}}" required >
        <div class="selected_value">
        {{sizes.size}}
      </div>
      </div>
      {% endfor %}
      
    </div>
    {% else %}
    <input class="" style="display: none" value="-1"type="radio" name="sizes" checked="checked">
    {% endif %}
    
    <!-- end of  extral fields-->

      <div class="add-to-cart">
        <button type="submit">Add to cart</button>
      </div>
    </form>
  </div>
</div>
<!-- end of info sub container-->
</div>
<!-- end of info container-->

 </div>


 <!-- endof product info container  -->
              


          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Related Products</h3>
            <ul class="aa-product-catg aa-related-item-slider">
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>
               <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span>
                  </figcaption>
                </figure>                      
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                 <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                </figure>
                <figcaption>
                  <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                  <span class="aa-product-price">$45.50</span>
                </figcaption>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                 <span class="aa-badge aa-hot" href="#">HOT!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                      
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
              </li>    
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-hot" href="#">HOT!</span>
              </li> 
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                   <figcaption>
                    <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>                     
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>                                                                                   
            </ul>
            
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- call the zoom image script-->
<script src="{% static 'js/imagezoom.js' %}"></script>
<script>

$(document).ready(function(){
$('.side-img img').hover(function(){
 $(this).addClass("activeimg");
},function(){
  $(this).removeClass("activeimg");
});

});

 

  function preview(img){
      document.getElementById(0).src=img.src;
   $('.img-zoom-lens').css({'border':'none'});  
  }

  $(document).ready(function(){
    $('.img-zoom-result').click(function(){
      $('.img-zoom-lens').hide();
    });
    var windowwidth= $(window).width();
    if(windowwidth>1200){
  $('.img-active ').hover(function(){
    imageZoom("0", "myresult");
    $('.img-zoom-result').css({'visibility':'initial'}); 

  },
  function(){
      $('.img-zoom-lens').hide();
      $('.img-zoom-result').css({'visibility':'hidden'});
       
  });
    }
    if(windowwidth>1200){
 
    }
  });
      // Initiate zoom effect:
      
      </script>




{% endblock %}