
{% extends 'homeapp/base.html' %}
{% block content %}
{% load staticfiles %}
  

             


  <!-- / Promo section -->
  <!-- Products section -->
  <section id="aa-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                    <li class="active"><a href="{% url 'homeapp:usedItems' %}" >{{cat}}{% if subcatname %}-{{subcatname}} {% endif %}</a></li>
                    <li ><a href="{% url 'homeapp:home' %}" >Brand New</a></li>
                    <li ><a href="{% url 'homeapp:usedItems' %}" >Used Items</a></li>
                  </ul>

                  {% if tenpds %}
                  <div class="quicksearch-container">
                      <div class="quicksearch-subcontainer">
                          {% for product in tenpds %}
                          <a href="{% url 'homeapp:productdetail' slug=product.productdisplay.slug %}">
                           <div class="quicksearchobjs-container">
                            <img src="{{product.productdisplay.picone.url}}" alt="ecomerce, Africa ,Business, Shopping">
                            <div class="quickobj-info-container">
                                <span class="product-name">
                                 {{product.productdisplay.productname}} 
                                </span><br>
                                <span class="product-price">
                                    CFA {{product.productdisplay.pdprice}} 
                                </span>
                            </div>
                           </div>
                        </a>
                          {% endfor %}
                      </div>

                  </div>
                  {% else %}
                  <p style="text-align: center"> No products found</p>
                </div>
                  {% endif %}


                  <div class="pagination">
                        <span class="step-links">
                            {% if tenpds.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ tenpds.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ tenpds.number }} of {{ tenpds.paginator.num_pages }}.
                            </span>
                    
                            {% if tenpds.has_next %}
                                <a href="?page={{ tenpds.next_page_number }}">next</a>
                                <a href="?page={{ tenpds.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- / Products section -->






  
    
    <script>
    
    

    $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2500,
        arrows: false,
        dots: true,
        pauseOnHover: true,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
    </script>
    
 
  {% endblock %}


