.mainlogo img{
    width:80px;
    height:80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
#menu {
    background-color: rgb(255, 221, 29);
}

#aa-header .aa-header-bottom .aa-header-bottom-area .aa-search-box button{
    background-color: rgb(255, 221, 29);
}

#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link{
    color:black;
}

#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify
{
    border-color:black;
    color:navy;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a{
    color:black;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover, #menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus {
    color: navy;
}