.product-main-container{
	display: inline-block;
	position: relative;
	width:80%;
	left:10%;
}
#hidde_div{
	display:none;
}
.select-size input{
	opacity: 0;
}
/* img zoom lens */

.img-zoom-lens {
	
   position: absolute;
	/*set the size of the lens:*/
	width: 150px;
	height: 150px;
	z-index: 80px;
	cursor: pointer;
	background-color: rgba(225,225,225,0.6);
	
  }

/* img zoom result */
.img-zoom-result {
    background-color: white;
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
  position:absolute;
 margin-top:-10px;
  margin-left:45%;
  box-shadow:-0.5px 1px 4px 1px black;
  -webkit-box-shadow:-0.5px 1px 4px 1px black;
  -ms-box-shadow:-0.5px 1px 4px 1px black;
  -o-box-shadow:-0.5px 1px 4px 1px black;
  -moz-box-shadow:-0.5px 1px 4px 1px black;
visibility: hidden;
  z-index: 100;
}
/*  img thumbail*/

.img-view-container{
	display: inline-block;
	width:60%;
	overflow: hidden;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 10px;
}

.side-img, .img-active{
float: left;
}

.product-detail-container .side-img{
	width:auto;
	margin-right:20px;
	position: relative;
	top:15px;
}
.product-detail-container .side-img img{
	width:40px;
	height:40px;
	border-width: 1px;
}
.product-detail-container .img-active{
	position: relative;
	width:80%;
	border:solid;
	border-width: 1px;
	border-color: rgba(225,225,225,0.6);
}
.product-detail-container .img-active img{
	width:100%;
}
.product-detail-container{
	
	padding-top:50px;
	padding-bottom: 100px;
	display: inline-block;
	width:80%;
	margin-left:5%;
	overflow: hidden;
}

.produt-info-container{
	width:40%;

}
.img-view-container ,.produt-info-container{
	float: left;
	
	position: relative;


}
.produt-info-container .product-name{
	font-size: 14px;
	text-transform:capitalize;
	color:rgba(0,0,0,0.7);
}
.produt-info-container{
	padding-left:20px;
}
.produt-info-container .pd-amnt{
	font-size: 14px;
	font-weight: 800;
}
.produt-info-container .pd-sales-off{
	font-size: 18px;
	color:green;
}
.produt-info-container .after-sales-price{
	font-size: 12px;
	color:green;
}
.produt-info-container .sales-off-amnt{
	font-size: 12px;
}
.produt-info-container .assurance-pd{
	font-size: 12px;
	font-weight: 700;
	color:yellowgreen;
}
.produt-info-container .assurance-pd svg{
	width:15px;
	height:10px;
}
.produt-info-container .category{
	font-size: 9px;
	border-bottom: solid;
	border-color: yellowgreen;
	padding-bottom: 5px;
	border-width:1px;
	margin-bottom: 10px;
	text-align: center;
}
.add-quantity{
	width:100%;
}
.add-quantity input{
	position: relative;
	left:15%;
	width: 80%;
	border-top:none;
	border-left:none;
	text-align: center;
	border-right: none;
	border-bottom: solid;
	color:rgba(0,0,0,0.7);
	border-bottom-color: rgba(0,0,0,0.2);
	border-bottom-width: 1px;
}

.add-quantity .add-to-cart{
	margin-top:10px;
	position: relative;
	left:15%;
	padding:10px 10px 10px;
}

.add-to-cart svg{
	width:20px;
	height:20px;
	position: relative;
	top:4px;
	
}
.add-to-cart button svg{
	margin-left:-15px;
	left:-10px;
}
.add-to-cart a svg{
	position: relative;
	margin-left:-10px;
	left:-10px;	
}

.add-to-cart a{
	font-size: 12px;
	padding:6px 30px 5px;
	border:solid;
	border-width: 1px;
	position: relative;
	margin-left:22px;
	margin-top:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.add-quantity .add-to-cart button{
	width:60%;
	padding:5px 10px 5px;
	font-size: 18px;
	border:none;
	background-color: yellowgreen;
	color:white;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.instruction{
	width:100%;
	font-size: 10px;
	color:rgba(0,0,0,0.5);
	display: none
}
.instruction_{
	font-size: 10px;
	text-align: center;
	color:red;
	width: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	position: relative;
	border: solid;
	border-width: 1px;
	padding:2px 10px 2px;
	display:none
	
}

.pd_fm_cl_f_ {
  
	position: relative;
	left:15%;
	margin-top:-20px;
	width:80%;
	height:auto;
	display: inline-block;
	padding-bottom: 10px;
	
	
}
.pd_fm_cl_f_ .selec-color{
	margin-top:0px;
	margin-left: 5px;
	float: left;


	
}
.pd_fm_cl_f_ .selec-color input{
	visibility: hidden;
}
.price_display {
	position: absolute;
	top:-23px;
	width: auto;
	left:0px;
	background-color: gray;
	padding:2px 4px 2px;
	color:white;
	font-size: 14px;
	display: none;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	
}
.selec-color .color-img-op{
	width:30px;
	height: 40px;
	cursor: pointer;
	box-shadow: 1px 1px 3px 1px  rgba(0,0,0,0.5);
}
.pd_fm_fields{
	margin-top:10px;
}

.pd_fm_cl_f_ .select-size{
	float: left;

}
.select-size .selected_value{
	position: relative;
	width: auto;
	height:35px;
	margin-top:-18px;
	margin-bottom: 10px;
	margin-left:2px;
	border:solid;
	padding:4px 3px 4px;
	border-width: 1px;
	cursor: pointer;
}
.activesize{
background-color: red;
color:white;
}

.selec-color img{
width:100%;
height: auto;

}

.color-selected-preview{
	display: none;
}
/* styling div  to show other products to users, when 
a product added to cart */
.display_product_trending {
	display: inline-block;
	width:100%;
	height: auto;
	margin-top:20px;
	margin-bottom: 20px;
	padding-left:20px;
	padding-right:10px;
}
.display_product_trending .product_dply_sub{
	display: inline-block;
	border-right:solid;
	border-right-width:1px;
	border-right-color:rgba(0,0,0,0.2);
	
}
.display_product_trending .product_dply{
	padding-top:20px;	
	width:60%;
	float: left;
	margin-left:5%;
	
}
.display_product_trending .trending_pd_container{
	margin-bottom: 2px;
	float:left;
	width:30%;
	height:450px;
	overflow: hidden;
	margin-left:5px;
	
}
.display_product_trending .trending_pd_container:hover{
	cursor: pointer;
}
.display_product_trending .trending_pd_container:nth-child(2),.display_product_trending .trending_pd_container:nth-child(5){
	transform: scale(0.8);
}
.display_product_trending .trending_pd_container:nth-child(2):hover,.display_product_trending .trending_pd_container:nth-child(5):hover{
	transform: scale(1);
}
.display_product_trending .trending_pd_container:nth-child(4):hover,.display_product_trending .trending_pd_container:nth-child(3):hover,.display_product_trending .trending_pd_container:nth-child(1):hover,.display_product_trending .trending_pd_container:nth-child(6):hover
{
	transform: scale(1.08);
}
.display_product_trending .trending_pd_container img{
	width:100%;
	margin:2px;
}
.display_product_trending .added_to_cart_info{
	width:20%;
	float: left;
padding-left:40px;
}
.display_product_trending .added_to_cart_info   img{
width:100%;
height:180px;
}
.display_product_trending .added_pd_info p{
	font-size: 12px;
	color:green;
}
.display_product_trending .added_pd_info_name{
	font-size: 14px;
	color:rgba(70, 15, 170, 0.7);
}
.display_product_trending .added_product{
	box-shadow: -0.4px 1px 2px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: -0.4px 1px 2px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: -0.4px 1px 2px 1px rgba(0,0,0,0.5);
	-o-box-shadow: -0.4px 1px 2px 1px rgba(0,0,0,0.5);
	padding:10px 10px 10px;
}
.display_product_trending .trd_pd_make{
	padding-top:15px;
	border-top:solid;
	border-color:rgba(0,0,0,0.1);
	border-width: 1px;
	font-size: 10px;
	color:rgba(0,0,0,0.5);
	
}
.display_product_trending .trd_pd_info{
	text-align: center;
}
.display_product_trending .trd_pd_name{
	font-size: 14px;
	width:100%;
	
	font-size: 13px;
}
.display_product_trending .trd_pd_price{
	font-size: 11px;
}
.add-to-cart a{

	position: relative;
	margin-left:25%;

}
.clear_related {
	clear: both;
	margin-top:100px;
}
/* loader when product added to cart*/
.loader_{
	clear: both;
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(225,225,225,0.9);
	z-index: 200;
	top:0px;
	left:0px;
	right:0px;
	display: none;
	bottom: 0px;
	margin-bottom: 0px;
	margin-top:0px;

}
.loader_ .img_loader{
	width:100px;
	height:100px;
	position: relative;
	top:40%;
	left:45%;
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes pulse {
	0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	}
	@keyframes pulse {
	0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	} 
  
	.fadeInLeft {
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		}
		@-webkit-keyframes fadeInLeft {
		0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		}
		100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
		}
		}
		@keyframes fadeInLeft {
		0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		}
		100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
		}
		} 

@media only screen and (min-width:150px) and (max-width:400px){
	.loader_ .img_loader{
		width:30px;
		height:30px;
		top:30%;
		left:22%;
	}
	.instruction{
		display: inherit
	}
	.display_product_trending .added_to_cart_info{
		font-size: 10px;
		
	}
	.display_product_trending .product_dply{	
		width:60%;
		margin-left:0px;
	}
	.display_product_trending .trd_pd_name{
		font-size: 11px;
	}
	.display_product_trending .trd_pd_price{
		font-size: 10px;
	}
	.display_product_trending .trending_pd_container{
		width:50%;
		margin-left:0px;
		height:260px;
		padding-left:10px;
		padding-right:20px;
		padding-left:0px;
		
	}
	.display_product_trending .added_to_cart_info{
		width:35%;
		margin-left:2%;
	padding-left:0px;
	}
	.add-to-cart button svg{
		margin-left:0px;
		left:0px;
	}
	.add-to-cart a svg{
		width:15px;
		height:15px;
		left:0px;
	}
	.add-to-cart a{
		text-align: center;
		font-size: 12px;
		padding:4px 10px 4px;
		border:solid;
		border-width: 1px;
		position: relative;
		margin-left:15%;
	
	}
	.display_product_trending .added_to_cart_info   img{
		width:100%;
		height:100px;
		}
	
	.product-detail-container .side-img{
		margin-right:2%;
	}

	.add-quantity input{
		left:15%;
		width: 50%;
	}

	/* img zoom result */
.img-zoom-result {
    background-color: white;
  /*set the size of the result div:*/
  width: 80%;
  height: 200px;
  position: absolute;
  margin-top:95%;
  left:-35%;
 

}

	/* img zoom lens */

.img-zoom-lens {
	
	position: absolute;
	 /*set the size of the lens:*/
	 width: 150px;
	 height: 150px;
	 border-radius:0px;
   }
	
	.add-quantity .add-to-cart{
		margin-top:20px;
		position: relative;
		left:20%;
		padding:10px 10px 10px;
		width: 100%;
	}
	
	.product-detail-container .img-active{
		position: relative;
		width:80%;
	}
	.product-main-container{
		width:100%;
		left:0%;
	}
	.product-detail-container{
	
		padding-top:0px;
		padding-bottom: 10px;
		display: inline-block;
		width:90%;
		margin-left:0%;
		overflow: hidden;
	}
	.img-view-container ,.produt-info-container{
		width:90%;
	
	
	
	}
}

@media only screen and (min-width:400px) and (max-width:500px){
	
	.instruction{
		display: inherit
	}
	.loader_ .img_loader{
		width:30px;
		height:30px;
		top:30%;
		left:25%;
	}
	.display_product_trending .added_to_cart_info{
		font-size: 10px;
		
	}
	.display_product_trending .product_dply{	
		width:60%;
		
		
	}
	.display_product_trending .trd_pd_name{
		font-size: 11px;
	}
	.display_product_trending .trd_pd_price{
		font-size: 10px;
	}
	.display_product_trending .trending_pd_container{
		width:50%;
		margin-left:0px;
		height:260px;
		padding-left:10px;
		padding-right:20px;
	}
	.display_product_trending .added_to_cart_info{
		width:35%;
		
	padding-left:0px;
	}
	.add-to-cart button svg{
		margin-left:0px;
		left:0px;
	}
	.add-to-cart a svg{
		width:15px;
		height:15px;
		left:0px;
	}
	.add-to-cart a{
		text-align: center;
		font-size: 12px;
		padding:4px 10px 4px;
		border:solid;
		border-width: 1px;
		position: relative;
		margin-left:30%;
	
	}
	.display_product_trending .added_to_cart_info   img{
		width:100%;
		height:100px;
		}
	



	/* img zoom result */
.img-zoom-result {
    background-color: white;
  /*set the size of the result div:*/
  width: 80%;
  height: 200px;
  position: absolute;
  margin-top:85%;
  left:-35%;
 

}

	/* img zoom lens */

.img-zoom-lens {
	
	position: absolute;
	 /*set the size of the lens:*/
	 width: 100px;
	 height: 100px;
   }
	
   .add-quantity .add-to-cart{
	margin-top:20px;
	position: relative;
	left:20%;
	padding:10px 10px 10px;
	width: 100%;
}
.add-to-cart button svg{
	margin-left:0px;
	left:0px;
}
	.product-detail-container .img-active{
		position: relative;
		width:70%;
	}
	.product-main-container{
		width:100%;
		left:0%;
	}
	.product-detail-container{
	
		padding-top:0px;
		padding-bottom: 10px;
		display: inline-block;
		width:100%;
		margin-left:0%;
	}
	.img-view-container ,.produt-info-container{
		width:90%;
	
	
	
	}
}


@media only screen and (min-width:500px) and (max-width:900px){
	.instruction{
		display: inherit
	}
	.loader_ .img_loader{
		width:30px;
		height:30px;
		top:30%;
		left:35%;
	}
	.display_product_trending .added_to_cart_info{
		font-size: 10px;
		
	}
	.display_product_trending .product_dply{	
		width:60%;
		margin-left:0px;
	}
	.display_product_trending .trd_pd_name{
		font-size: 11px;
	}
	.display_product_trending .trd_pd_price{
		font-size: 10px;
	}
	.display_product_trending .trending_pd_container{
		width:50%;
		margin-left:0px;
		height:300px;
		padding-left:10px;
		padding-right:20px;
	}
	.display_product_trending .added_to_cart_info{
		width:35%;
		
	padding-left:0px;
	margin-left:2%;
	}
	.add-to-cart button svg{
		margin-left:0px;
		left:0px;
	}
	.add-to-cart a svg{
		width:15px;
		height:15px;
		left:0px;
	}
	.add-to-cart a{
		text-align: center;
		font-size: 12px;
		padding:4px 10px 4px;
		border:solid;
		border-width: 1px;
		position: relative;
		margin-left:30%;
	
	}
	.display_product_trending .trending_pd_container{
		width:50%;
		margin-left:0px;
		min-height:320px;
		padding-left:10px;
		padding-right:20px;
	}
	.display_product_trending .added_to_cart_info   img{
		width:100%;
		height:200px;
	
		}
	

	/* img zoom result */
.img-zoom-result {
    background-color: white;
  /*set the size of the result div:*/
  width: 60%;
  height: 250px;
  position: absolute;
  top:50px;
  left:-30%;
 

}

	/* img zoom lens */

.img-zoom-lens {
	
	position: absolute;
	 /*set the size of the lens:*/
	 width: 120px;
	 height: 120px;
   }
	
   .add-quantity .add-to-cart{
	margin-top:20px;
	position: relative;
	left:20%;
	padding:10px 10px 10px;
	width: 100%;
}
.add-to-cart button svg{
	margin-left:0px;
	left:0px;
}
	.product-detail-container .img-active{
		position: relative;
		width:70%;
	}
	.product-main-container{
		width:100%;
		left:0%;
	}
	.product-detail-container{
	
		padding-top:0px;
		padding-bottom: 10px;
		display: inline-block;
		width:100%;
		margin-left:0%;
	}
	.img-view-container ,.produt-info-container{
		width:90%;
	
	
	
	}
}



@media only screen and (min-width:900px) and (max-width:1200px){
	
	.instruction{
		display: inherit
	}
	.display_product_trending .added_to_cart_info   img{
		width:100%;
		height:200px;
	
		}
	.display_product_trending .trending_pd_container{
		width:50%;
		margin-left:0px;
		height:550px;
		padding-left:10px;
		padding-right:20px;
	}
	.display_product_trending .added_to_cart_info{
		width:25%;
	}
	.loader_ .img_loader{
		width:30px;
		height:30px;
		top:30%;
		left:35%;
	}
	/* img zoom result */
.img-zoom-result {
    background-color: white;
  /*set the size of the result div:*/
  width: 45%;
  height: 440px;
  position: absolute;
  top:800px;
  left:-18%;
 

}

	/* img zoom lens */

.img-zoom-lens {
	
	position: absolute;
	 /*set the size of the lens:*/
	 width: 200px;
	 height: 200px;
   }
	
	.add-quantity .add-to-cart{
		margin-top:20px;
		position: relative;
		left:40%;
		padding:10px 10px 10px;
		width: 50%;
	}
	.product-detail-container .img-active{
		position: relative;
		width:70%;
	}
	.product-main-container{
		width:100%;
		left:0%;
	}
	.product-detail-container{
	
		padding-top:0px;
		padding-bottom: 10px;
		display: inline-block;
		width:100%;
		margin-left:0%;
	}
	.img-view-container ,.produt-info-container{
		width:90%;
	
	
	
	}
}